<div class="container mt-5">
  <h1 class="mb-4">Tomar foto desde la cámara</h1>

  <!-- Video para la vista previa de la cámara -->
  <video #videoElement autoplay></video>

  <!-- Botón para capturar la imagen -->
  <button class="btn btn-primary mt-3" (click)="takeSnapshot()">Tomar Foto</button>

  <!-- Elemento canvas para renderizar la imagen capturada -->
  <canvas #canvasElement style="display:none;"></canvas>

  <!-- Mostrar la imagen capturada (opcional) -->
  <table class="table mt-4" *ngIf="capturedImages.length > 0">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Fecha y Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let image of capturedImages">
        <td><img [src]="image.dataUrl" class="img-thumbnail" style="max-height: 100px;"></td>
        <td>{{ image.timestamp | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success mt-3" (click)="uploadImages()" [disabled]="capturedImages.length === 0">
    Subir Imágenes
  </button>
</div>
